@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@{
    ViewData["Title"] = "Sign-In";
}
<link rel="stylesheet" href="~/css/sign-in.css" />
<script src="~/js/sign-in.js"></script>

<div id="formbefore" class="col-xl-7 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form">
    <div class="row ml-1 formContainer">
        <div class="col-4 pt-4 form-left-content">
            <label class="h4 text-light">DigitalCars</label>
            <div class="w-100"></div>
            <label class="text-light">The best marketplace of digital NFT cars.</label>
            <div class="w-100"></div>
            <div class="">
                <div class="">
                </div>
            </div>
        </div>
        <div class="col p-4">
            <p class="h4 mb-4 p-r2 text">Sign In</p>

            <div class="form-group">
                <label for="login"
                       class="float-left text">
                    Login
                </label>
                <input type="text"
                       formControlName="login"
                       class="form-control"
                       placeholder="Login">
            </div>

            <div class="form-group">
                <label for="password"
                       class="float-left text">
                    Password
                </label>
                <input type="password"
                       formControlName="password"
                       class="form-control"
                       placeholder="Password">
            </div>

            <div class="form-group">
                <button onclick="Alert()" class="btn btn-success w-50">
                    Login
                </button>
                <div class="w-100"></div>
                <a class="linked-text">Forgot password?</a>
            </div>
        </div>
    </div>
</div>