@{
    ViewData["Title"] = "Market";
}

<link rel="stylesheet" href="~/css/market.css" />

<div class="container market-header">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col-3 text-center">
            <div>
                <p class="">
                    Balance: 
                    <span class="badge badge-dark badge-pill">143.53$</span>
                </p>
            </div>
            <div>
                <span><a href="#" class="text-dark">Profile</a></span>
            </div>
        </div>
    </div>
</div>

<div class="container marget-search">
    <div class="text-center">
        <p>collapse search parameters</p>
    </div>
</div>

<div class="container market-list">
    <div class="row">
        <div class="market-grid col">
            
        </div>
    </div>
</div>