@model DigitalMarket.Presentation.Models.Account.ChangePasswordViewModel;
@{
    ViewData["Title"] = "DMarket - Change Password";
}

<div class="container">
    <div class="col pt-2">
        <h4>Change Password</h4>
        <hr class="mt-2 mb-3" />
        <div class="alert alert-warning" role="alert">
                You will be logouted after success password-changing.
        </div>
    </div>
</div>
<div class="container">
    <form class="col" id="form" method="POST" asp-controller="Account" asp-action="ChangePassword">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="currentPassword" class="text">
                        Current password
                    </label>
                    <input id="currentPassword"
                           type="password"
                           name="currentPassword"
                           formControlName="currentPassword"
                           class="form-control form-control-sm"
                           placeholder=""
                           aria-describedby="currentPasswordHelp"
                           value="@Model?.CurrentPassword">
                    <small id="currentPasswordHelp"
                           class="form-text text-danger small-left">
                        @Html.ValidationMessageFor(x => x.CurrentPassword)
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="newPassword" class="text">
                    New password
                </label>
                <input id="newPassword"
                       type="password"
                       name="newPassword"
                       formControlName="newPassword"
                       class="form-control form-control-sm"
                       placeholder=""
                       aria-describedby="newPasswordHelp"
                       value="@Model?.NewPassword">
                <small id="newPasswordHelp"
                       class="form-text text-danger small-left">
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="confirmNewPassword" class="text">
                    Confirm new password
                </label>
                <input id="confirmNewPassword"
                       type="password"
                       name="confirmNewPassword"
                       formControlName="confirmNewPassword"
                       class="form-control form-control-sm"
                       placeholder=""
                       aria-describedby="confirmNewPasswordHelp"
                       value="@Model?.ConfirmNewPassword">
                <small id="confirmNewPasswordHelp"
                       class="form-text text-danger small-left">
                    @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
                </small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>