@model DigitalMarket.Presentation.Models.Account.ForgotPasswordViewModel;
@{
    ViewData["Title"] = "Forgot Password";
    bool? emailSent = ViewBag.EmailSent;
}

<div class="container">
    @if (emailSent.HasValue)
    {
        @if (emailSent.Value)
        {
            <p class="text-center">Email was sent.</p>
        }
        else
        {
            <p class="text-center">Cannot send letter.</p>
        }
    }
    else
    {
        <div class="text-center">
            <h5>Forgot Password?</h5>
            <p>Submit your email to get password restore letter.</p>
        </div>
        <form method="POST" id="form"
              asp-controller="Account"
              asp-action="ForgotPassword">
            <div class="form-group p-1">
                <label class="text" for="email">Email</label>
                <input id="email"
                       type="email"
                       name="email"
                       class="form-control"
                       aria-describedby="emailHelp"
                       value="@Model?.Email" />
                <small id="emailHelp" class="form-text text-danger">
                    @Html.ValidationMessageFor(x => x.Email)
                </small>
            </div>
            <div class="form-group p-1">
                <button class="btn btn-success">
                    Restore Password
                </button>
            </div>
        </form>
    }
</div>