@model DigitalMarket.Presentation.Models.Account.ForgotPasswordViewModel;
@{
    ViewData["Title"] = "Forgot Password";
    bool? emailSent = ViewBag.EmailSent;
}


<div class="container">
    <div class="row">
        <div class="col">
            <div class="container pt-2">
                <h4>Forgot Password?</h4>
                <hr class="mt-2 mb-3" />
                <p>Submit your email. We will send reset-password letter in your mailbox.</p>
                <hr class="mt-2 mb-3" />
            </div>

            @if (emailSent.HasValue)
            {
                <div class="pt-1">
                    @if (emailSent.Value)
                    {
                        <div class="container">
                            <div class="alert alert-success" role="alert">
                                We sent letter to '@Model.Email'. Check your mailbox.
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="container">
                            <div class="alert alert-danger" role="alert">
                                Cannot send letter to '@Model.Email'.
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <partial name="Partial/ForgotPasswordForm" model="@Model" />
            }
        </div>
    </div>
</div>