@model DigitalMarket.Presentation.Models.Account.ResetPasswordViewModel;
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <form method="POST" id="form"
          asp-controller="Account"
          asp-action="ResetPassword"
          >
        <div class="hidden">
            <input id="email"
                   type="email"
                   name="email"
                   value="@Model?.Email"/>
        </div>
        <div class="p-1">
            <label for="password">Password</label>
            <input id="password"
                   type="password"
                   name="password" 
                   placeholder="Enter new password"
                   value="@Model?.Password" />
        </div>
        <div class="p-1">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword"
                   type="password"
                   name="confirmPassword"
                   placeholder="Confirm your new password"
                   value="@Model?.ConfirmPassword"/>
        </div>
        <div class="hidden">
            <input id="token"
                   type="text"
                   name="token"
                   value="@Model?.Token"/>
        </div>
        <div class="p-1">
            <button type="submit" class="btn btn-success">
                Reset Password
            </button>
        </div>
    </form>
</div>