@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using DigitalMarket.Presentation.Models.Account;
@model ResetPasswordViewModel;
@{
    ViewData["Title"] = "Reset Password";
    bool invalidToken = ViewData.ModelState.GetFieldValidationState(nameof(ResetPasswordViewModel.Token)) == ModelValidationState.Invalid;
    bool invalidEmail = ViewData.ModelState.GetFieldValidationState(nameof(ResetPasswordViewModel.Email)) == ModelValidationState.Invalid;
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container pt-2">
                <h4>Reset Password</h4>
                <hr class="mt-2 mb-3" />
                <p>Create a new password for your account.</p>
                <hr class="mt-2 mb-3" />
            </div>

            <div class="container">
                <form method="POST" id="form" asp-controller="Account" asp-action="ResetPassword" novalidate>
                    <div class="hidden">
                        <input id="email"
                               type="email"
                               name="email"
                               value="@Model?.Email" />
                        <input id="token"
                               type="text"
                               name="token"
                               value="@Model?.Token" />
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <label class="text" for="password">Password</label>
                            <input id="password"
                                   type="password"
                                   name="password"
                                   class="form-control"
                                   aria-describedby="passwordHelp"
                                   placeholder="Enter new password"
                                   value="@Model?.Password" />
                            <small id="passwordHelp"
                                   class="form-text text-danger small-left">
                                @Html.ValidationMessageFor(x => x.Password)
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label class="text" for="confirmPassword">Confirm Password</label>
                            <input id="confirmPassword"
                                   type="password"
                                   name="confirmPassword"
                                   class="form-control"
                                   aria-describedby="confirmPasswordHelp"
                                   placeholder="Confirm your new password"
                                   value="@Model?.ConfirmPassword" />
                            <small id="confirmPasswordHelp"
                                   class="form-text text-danger small-left">
                                @Html.ValidationMessageFor(x => x.ConfirmPassword)
                            </small>
                        </div>
                    </div>

                    @if (invalidEmail)
                    {
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-danger" role="alert">
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>
                            </div>
                        </div>
                    }

                    @if (invalidToken)
                    {
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-danger" role="alert">
                                    @Html.ValidationMessageFor(x => x.Token)
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="form-group col">
                            <div class="col-mb-4">
                                <button type="submit" class="btn btn-success">
                                    Reset Password
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>