@model DigitalMarket.Presentation.Models.Account.ForgotPasswordViewModel;

<div class="container">
    <form id="form" method="POST" asp-controller="Account" asp-action="ForgotPassword">
        <div class="row">
            <div class="form-group col">
                <label for="login" class="text">
                    Email
                </label>
                <input type="text"
                       name="email"
                       formControlName="email"
                       class="form-control"
                       placeholder="example@@email.com"
                       aria-describedby="usernameHelp"
                       value="@Model?.Email">
                <small id="emailHelp"
                       class="form-text text-danger small-left">
                    @Html.ValidationMessageFor(x => x.Email)
                </small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <div class="col-mb-4">
                    <button class="btn btn-success">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>