@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> options;

@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultures = options.Value
        .SupportedCultures
        .Select(e => new SelectListItem
        {
            Value = e.Name,
            Text = e.Name
        })
        .ToArray();

    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path)
        ? "~/Home/Index"
        : $"{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div class="lang-select">
    <form
          asp-controller="Home"
          asp-action="CultureManagement"
          asp-route-returnUrl="@returnUrl"
          method="post">
        <select
                class="form-select form-control bg-dark text-light"
                name="culture"
                asp-for="@culture.RequestCulture.UICulture.Name"
                asp-items="@cultures"
                onchange="this.form.submit();">
        </select>
    </form>
</div>