<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-light"
           asp-area=""
           asp-controller="Home"
           asp-action="Index">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light"
           asp-area=""
           asp-controller="Marketplace"
           asp-action="Index">
            Marketplace
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light"
           asp-area=""
           asp-controller="Store"
           asp-action="Index">
            Store
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area=""
           asp-controller="Inventory"
           asp-action="Index">
            Inventory
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light"
           asp-area=""
           asp-controller="Home"
           asp-action="Privacy">
            Privacy
        </a>
    </li>
</ul>