<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-light"
           asp-area=""
           asp-controller="Home"
           asp-action="Index">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light"
           asp-area=""
           asp-controller="Market"
           asp-action="Index">
            Market
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link
                               text-light" asp-area=""
           asp-controller="Order"
           asp-action="Index">
            Order
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light"
           asp-area=""
           asp-controller="Home"
           asp-action="Privacy">
            Privacy
        </a>
    </li>
</ul>