@{
    ViewData["Title"] = "Marketplace";
}

<div class="container">
    <div class="row">
        <div class="container pt-2">
            <h4>Marketplace</h4>
            <hr class="mt-2 mb-3" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

    </div>
</div>